.button-container {
    width: 40vw;
    background: gray;
    overflow-y: auto;
}

.button-container > button {
    width: 8vw;
    height: 8vw;
    float: left;
    background: lightgray;   
    margin: 1vw;
    white-space:normal;
    word-break: break-word;
    cursor: pointer;
}