.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnWrapper {
    display: inline-flex;
    justify-content: center;
}

.bodyColumn {
    width: 50vw;
}

.spacedLabel {
    padding-right: 5px;
}