.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  list-style-type: none;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.highlight-area {
  display: inline-block;
  padding: 10px;
  background-color: #27ae60;
  color: #fff;
  cursor: pointer;
}

.App {
  text-align: center;
  margin-top: 50px;
}

.hover-element {
  display: inline-block;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.hover-area {
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 200px;
}

.high-contrast {
  position: fixed;
  top: 200px;
  right: 15px;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.high-contrast:hover {
  background-color: #2980b9; 
}

.translate {
  position: fixed;
  top: 300px;
  right: 15px;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.translate:hover {
  background-color: #2980b9; 
}

.high-contrast:hover {
  background-color: #2980b9; 
}

.speech {
  position: fixed;
  top: 420px;
  right: 15px;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.speech:hover {
  background-color: #2980b9; 
}

.image {
  width: 60px;
  height: 60px;
}

.langSelect {
  font-size: 10px;
  width: 60px;
}

.closeAccessibility {
  position: fixed;
  top: 520px;
  right: 15px;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 80px;
  font-size: 12px;
}

.closeAccessibility:hover {
  background-color: #2980b9; 
}

#accessibilityMenu {
  display: none;
}

#closedAccessibilityMenu {
  position: fixed;
  top: 50%;
  right: 0px;
  padding: 10px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 10px;
}