
.cursor {

    width: 160px;
    height: 160px; 
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    border-radius: 500%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    border-color: black;
    background-color: transparent; 
    transform-origin: center center; 
    transform: scale(1); 
    transition: transform 0.2s ease-in-out; 
  }
  
  .magnify {
    transform: scale(2.5); 
    position: absolute;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 200px;
    height: 200px;
    overflow: hidden; 
    zoom: 1;
    box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.5),
                0 0 30px 15px rgba(0, 0, 0, 0.5);
  }
  
  
  .toggle {
    position: fixed;
    top: 100px;
    right: 15px;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle:hover {
    background-color: #2980b9; 
  }

  .image {
    width: 60px;
    height: 60px;
  }
