.checkout-background {
    background-color: #ffefe2;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    min-height: 55vh;
}

.new-order {
    display: flex;
    padding-bottom: 13.5vw;
}

.confirmation {
    color: #8b9477;
    font-family: 'Perpetua', serif;
    font-size: 5vw;
    margin: auto;
}

.new-order > button {
    width: 50vw;
    height: 7vw;
    border-radius: 12vw;
    border: 2px solid #9e693f;
    background: #ffefe2;
    white-space: normal;
    word-break: break-word;
    cursor: pointer;
    color: #9e693f;
    font-family: 'Perpetua', serif;
    font-weight: bold;
}