<!DOCTYPE html>
<head>
    <title>Add-Ons</title>
    <link rel="stylesheet" href="/css/drink_options.css">
</head>
<body>
    <div class="columnWrapper">
        <button onClick="backFromAddOn()">Back</button>
        <h1>Add-Ons</h1>
    </div>
    <div class="columnWrapper">
        <div class="column bodyColumn">
            <div class="button-container">
                <% for (var i in add_ons) {%>
                    <button onClick="add_onToLocal('<%=add_ons[i].ingredient_id%>', '<%=add_ons[i].name%>', '<%=add_ons[i].cost%>')"><%=capitalizeName(add_ons[i].name, ' ')%></button>
                <% } %>
            </div>
        </div>
        <div class="column bodyColumn">
            <table>
                <tbody id="tbody"></tbody>
            </table>
            <div class="columnWrapper">
                <button onClick="toDrinkOptionsFromAddOn()">New Drink</button>
                <button onClick="toOrderSummaryFromAddOn()">Checkout</button>
            </div>
        </div>
    </div>
</body>

<script src="/js/functions.js"></script>