<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Drink</title>
    <link rel="stylesheet" href="/css/build_drink.css">
</head>
<script src="/js/functions.js"></script>
<body class="build-drink-background">
    <button class="back-button" onClick="backCustomerHome()">
        <img src="back_arrow.png" width="60%" height="10%">
    </button>
    <div id="size" class="build-option-container">
        <button>Regular</button>
        <button>Large</button>
    </div>
    <div id="addOns1" class="build-option-container">
        <% for (var i in add_ons) {%>
            <button><%=capitalizeName(add_ons[i].name, ' ')%></button>
        <% } %>
    </div>
    <div id="addOns2" class="build-option-container">
        <% for (var i in add_ons) {%>
            <button><%=capitalizeName(add_ons[i].name, ' ')%></button>
        <% } %>
    </div>
    <div class="build-drink-page">
        <div class="build-drink-container">
            <h3 class="build-drink-title">BUILD A DRINK GUIDE</h3>
            <button onClick="getDrinkSize()">Size</button>
            <button onClick="getDrinkReplacements()">Replacements</button>
            <button onClick="getDrinkAddOn1()">Add-On #1</button>
            <button onClick="getDrinkAddOn2()">Add-On #2</button>
            <button onClick="getDrinkQuantity()">Quantity</button>
        </div>
    </div>
</body>
</html>