<!DOCTYPE html>
<head>
    <title>Customer Home</title>
    <link rel="stylesheet" href="/css/customer_home.css">
</head>
<body class="customer-home-background">
    <div class="customer-page">
        <div class="drink-categories-container">
            <h3 class="categories-title">DRINK SERIES</h3>
                <% for (var i in drink_categories) {%>
                    <button onClick="getDrinkSeries('<%=drink_categories[i].category%>')"><%=capitalizeName(drink_categories[i].category, '_')%></button>
                <% } %>
        </div>
    </div>
    <div class="category-items-container">
        <% for (let i = 0; i < 18; i++) {%>
            <button>Popular Drink</button>
        <% } %>
    </div>
    <div class="order-info-container">
        <p class="total">Total: $$</p>
        <button onClick="viewCartFromCustomerHome()">View Cart</button>
    </div>
</body>

<script src="/js/functions.js"></script>