<!DOCTYPE html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/customer_checkout.css">
</head>
<script src="/js/functions.js"></script>
<body class="checkout-background">
    <div class="container">
        <h1 class="confirmation">Order Confirmation #1</h1>
    </div>
    <div class="new-order">
        <button class="confirmation">New Order</button>
    </div>
</body>