<!DOCTYPE html>
<html>
<head>
    <title>Manager Main</title>
    <link rel="stylesheet" href="/css/manager_main.css">
</head>
<body>
    <h1>Manager</h1>
    <div class="button-container">
        <a href = "/analyze_trends">
            <button class="my-button">ANALYZE TRENDS</button>
        </a>
        <a href="/inventory"> <!-- Add this link to the inventory route -->
            <button class="my-button">INVENTORY</button>
        </a>
        <button class="my-button">INGREDIENTS</button>
        <a href="/menu_items"> <!-- Add this link to the inventory route -->
            <button class="my-button">MENU ITEMS</button>
        </a>
        <button class="my-button">SUPPLY REORDER</button>
    </div>
</body>
</html>