<!DOCTYPE html>
<head>
    <title>New Order</title>
    <link rel="stylesheet" href="/css/new_order.css">
</head>
<body>
    <div class="vhCenter">
        <h1>Customer Order Completed</h1>
        <button onClick="toDrinkOptions()">Make New Order</button>
    </div>
</body>

<script src="/js/functions.js"></script>