<!DOCTYPE html>
<head>
    <title>Order Summary</title>
    <link rel="stylesheet" href="/css/order_summary.css">
</head>
<body>
    <div class="columnWrapper">
        <button onClick="backFromOrderSummary()">Back</button>
        <h1>Order Summary</h1>
    </div>
    <div class="columnWrapper">
        <div class="column bodyColumn">
            <div class="columnWrapper">
                <label class="spacedLabel" for="cname">Customer Name: </label>
                <input type="text" id="cname" name="cname"><br>
            </div>
            <h3>Select Payment Method: </h3>
            <button>Cash</button><br>
            <button>Credit</button><br>
            <button>Debit</button>
        </div>
        <div class="column bodyColumn">
            <table>
                <tbody id="tbody"></tbody>
            </table>
            <button onClick="postOrderToDB()">Confirm</button>
        </div>
    </div>
</body>

<script src="/js/functions.js"></script>