<!DOCTYPE html>
<head>
    <title>View Cart</title>
    <link rel="stylesheet" href="/css/view_cart.css">
</head>
<script src="/js/functions.js"></script>
<body class="view-cart-background">
    <button onClick="navBuildDrink()" class="back-build">
        <img src="back_arrow.png" width="60%" height="10%">
    </button>
    <h1 class="your-cart">Your Cart</h1>
    <div class="cart-container">

    </div>
    <div class="checkout-container">
        <p class="total">Total: $$</p>
        <button onClick="goToCheckout()">Checkout</button>
    </div>
</body>