/* base styles */
body {
    background-color: #ffefe2;
    margin: 0;
    padding: 0;
    font-family:  'Perpetua', serif;
    color: #8b9477;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 10%; 
  z-index: 1000; 
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

/* title styling*/
.title {
  max-width: 300;
  margin: 0px auto 40px; 
  padding: 10px;
  font-size: 25px;
  padding-bottom: 0px;
  margin-bottom: -40px;
  margin-top: -20px;
}

/* arrow image styling*/
.image-small {
    width: 70px;
    height: 50px;
    /* Adjust the size as needed */
  }

.tablesInfo {
    border:  #8b9477; /* Green border */
    padding-top: 0px;

    padding-bottom: 70px;
    color: #8b9477; /* Blue font color */
    margin-top: 0px; /* Adjust the margin-top to move the table higher */
}

/* Add additional styles for the DataGrid components if needed */
.tablesInfo .MuiDataGrid-root {
    /* Your custom styles here */
    color: #8b9477;
    border: 2px solid #8b9477;
    font-size: 15px;
    font-style: bold;
}


.tablesContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }


.menuItemsButtonsContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
  
  /* Style for the text boxes */
.textboxContainer {
    display: flex;
    gap: 5px;
}

.buttonItem{
    border: 2px solid red;
}